{% extends 'base.html.twig' %}

{% block title %}{{ 'twig.login_form.title' | trans }}{% endblock %}

{% block body %}
    <form method="post" action="{{ path('login') }}">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}


        <h1 class="h3 mb-3 font-weight-normal">{{ 'twig.login_form.user_title' | trans }}</h1>
        <label for="username">Email</label>
        <input type="email" value="{{ last_username }}" name="_username" id="username" class="form-control" autocomplete="email" required autofocus>
        <label for="password">{{ 'twig.login_form.password' | trans }}</label>
        <input type="password" name="_password" id="password" class="form-control" autocomplete="current-password" required>

{#        <input type="hidden" name="_csrf_token"#}
{#               value="{{ csrf_token('authenticate') }}"#}
{#        >#}
        <p class="mt-3">{{ 'twig.login_form.do_not_have_account.text' | trans }}<a href="{{ path('register') }}">{{ 'twig.login_form.do_not_have_account.register' | trans }}</a></p>
        <button class="btn btn-lg btn-primary mt-4" type="submit">
            {{ 'twig.login_form.sign_in' | trans }}
        </button>
    </form>
{% endblock %}
