{% extends 'base.html.twig' %}

{% block title %}{{ 'twig.register_form.title' | trans }}{% endblock %}

{% block body %}
    <h2>{{ 'twig.register_form.title' | trans }}</h2>
    <form method="post" action="{{ path('register_process') }}">
        <label for="email">Email</label>
        {% set emailError = null %}
        {% for error in errors ?? [] %}
            {% if error.propertyPath == 'email' %}
                {% set emailError = error %}
            {% endif %}
        {% endfor %}

        <input type="email" name="email" id="email" class="form-control" placeholder="Email" value="{{ emailError.invalidValue?? '' }}" required autofocus>

        {% if emailError %}
            <div class="alert alert-danger" role="alert">
                {{ emailError.message }}
            </div>
        {% endif %}

        <label for="password">{{ 'twig.register_form.password' | trans }}</label>
        {% set passwordError = null %}
        {% for error in errors ?? [] %}
            {% if error.propertyPath == 'password' %}
                {% set passwordError = error %}
            {% endif %}
        {% endfor %}

        <input type="password" id="password" name="password" value="{{ passwordError.invalidValue?? '' }}" required>

        {% if passwordError %}
            <div class="alert alert-danger" role="alert">
                {{ passwordError.message }}
            </div>
        {% endif %}


        <label for="password_confirm">{{ 'twig.register_form.password_confirmation' | trans }}</label>
        <input type="password" id="password_confirm" name="password_confirm" required>

        <button type="submit" class="mt-4">{{ 'twig.register_form.register' | trans }}</button>
    </form>
    <p>{{ 'twig.register_form.have_an_account.text' | trans }} <a href="{{ path('login') }}">{{ 'twig.register_form.have_an_account.login' | trans }}</a></p>
{% endblock %}
